/*Styles*/

/*Color
 #26093A
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #000;
    font-family: poppins, Montserrat;
    font-size: 20px;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

section {
    padding: 80px;
}

.btn {
    height: 40px;
    width: 140px;
    background-color: #fff;
    color: #26093A;
    border-radius: 20px;
    font-size: 80%;
    transition: all 300ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: #fff;
    background-color: #26093A;
}

/*----------HEADINGS-----------*/

h1 {
    font-weight: 200;
    font-size: 320%;
    margin: 0;
    word-spacing: 8px;
}



h2,h3 {
    font-weight: 280;
    font-size: 220%;
    margin: 0;
    word-spacing: 8px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d4cbbc;
    width: 140px;
    content: ""; /*Makes it visible*/
    margin: 0 auto;
    margin-top: 10px;
}

p {
    font-size: 20px;
}

/*----------PARAGRAPHS-----------*/

/*----------HEADER SECTION-----------*/

/*
header {
    height: 100vh;
}
*/

nav {
    display: block;
}

.nav-container {
    max-width: 100%;
    height: 80px;
    margin: 0;
    padding-top: 0px;
    padding: 0px 7% 10px 7%;
    background: rgb(349, 163, 26, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container img {
    height: 30px;
    width: auto;
    float: left;
}

.nav-container ul {
    list-style: none;
    float: left;

    display: flex;
}

.nav-container li {
    display: inline-block;
    margin-left: 35px;
}

.nav-container li:first-child {
    margin-left: 0px;
}

.nav-container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(38, 9, 58, 0.5);
}

.nav-container li a.active{
    text-decoration: none;
    text-transform: uppercase;
    color: #26093A;
    border-bottom: 2px solid black;
}

.nav-container li a:hover, 
.nav-container li a:active {
    color: #26093A;
    border-bottom: 2px solid black;
}

/*------------------------------------------------------*/

.dropdown {
    display: none;
    justify-content: flex-end;
}


#nav-drop li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  

  .dropdown-content {
      display: none;
    position: absolute;
    float: left;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  /*------------------------------------------------------*/

.header-text {
    width: 100%;
    margin: 30px 0 0 0;

    display: flex;
    justify-content: center;
}

.header-details {
    /*border: 1px solid ;*/
    width: 86%;
    margin: 20px auto;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-details-content {
    /*border: 1px solid ;*/
    height: 350px;
    float: left;
    /*margin: auto 0; Remove this later then activate align item*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon-box {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    background-color: #FEEDD1;
    border: 1.3px solid #F9A31A;
    box-shadow: 0px 0px 20px -6px #F9A31A;

    /*display: flex;
    justify-content: center;*/
}



.header-icon {
    height: 30px;
    width: auto;
    margin: 0 auto;
}

.header-content-text {
    /*border: 1px solid ;*/
    width: 500px;
    float: left;
}

.text p {
    font-size: 80%;
    font-weight: 400;
}

.header-boxes {
    /*border: 1px solid ;*/
    margin-right: 300px;

    display: flex;
    justify-content: space-between;
}

.box-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-boxes #box {
    /*border: 1px solid ;*/
    border-radius: 6px;
    width: 80px;
    height: 40px;
    background-color: #26093A;
    color: #F9A31A;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    font-size: 60%;
}


.header-details-image {
    float: right;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 300ms;
}

.header-details-image:hover {
    padding: 10;
    box-shadow: 0px 0px 40px -25px #aaa;
}

.header-details-image img {
    height: 300px;
    width: auto;
    float: right;

    transition: all 300ms;
}

.header-details-image img:hover {
    height: 340px;
}


.section-projects {
    background-color: #FEEDD1;
}

.project-header {
    text-align: center;
}

.project-display,
.project-display-inv {
        /*border: 1px solid ;*/
        width: 100%;
        margin: 40px auto;
        margin-bottom: 40px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.project-display-inv {
        flex-direction: row-reverse;
        justify-content: flex-end;
}

.project-details,
.project-details-inv {
        width: 40%;
        height: 350px;
        float: left;
        /*margin: auto 0; Remove this later then activate align item*/
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

.project-details-inv {
        margin-left: 80px;
        /*margin: auto 0; Remove this later then activate align item*/
}

.details-topic {
    font-weight: 600;
    color: #85768F;
}

.details-topic:after {
    display: block;
    border-bottom: 2px solid #85768F;
    content: "";
    width: 120px;
}

.details-text {
    margin: 20px 0;
}

.details-text p span{
    font-weight: 500;
}

.project-type p{
    font-size: 80%;
    margin-bottom: 5px;
    font-weight: 450;
    color: #85768F;
}

.project-type-box {
    border-radius: 6px;
    width: 70px;
    height: 30px;
    border: 1px solid #26093A;
    color: #85768F;
    font-weight: 500;
    font-size: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-picture {
    width: 500px;
    height: 500px;
    padding: 1%;
    border-radius: 15px;
    background: #FBE0B3;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; /*Wraps items around in container*/
}

.project-image-box {
    width: 49%;
    height: 49%;
    background-image: radial-gradient(white 40%, black 100%);
    border-radius: 15px;
    overflow: hidden;

}

#image-p {
    width: 100%;
    opacity: .9;

    transition: all 300ms;
}

#image-p:hover {
    transform: scale(1.2);
    opacity: 1;
}

.project-link-btn {
    margin-top: 60px;

    display: flex;
    justify-content: center;
}

.view-btn {
    text-decoration: none;
}

.section-testimonials {
    background-image: linear-gradient(rgb(38, 9, 58, 0.8), rgb(38, 9, 58, 0.8)), url(/images/testimonial-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    /*
    color: #fff;*/
}

.testimonial-header {
    text-align: center;
}

.testimonial-row {
    margin-top: 35px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial-row:last-child {
    margin-top: 45px;
}

.testimonial-subgroup {
    border-radius: 15px;
    padding: 8px;
    width: 30%;

    transition: all 300ms;
}

/*.testimonial-subgroup:hover {

    box-shadow: 0px 0px 40px -10px #ccc;

}*/

.quote-icon {

    display: flex;
    justify-content: flex-end;

}
.testimonial-quote-icon {
    margin: 0;
}

.testimonial-details-group {

    display: flex;
    flex-direction: column;
}

.testimonial-profile {
    width: 80%;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    border: 1.4px solid;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-content: center;
}

.profile {
    display: inline-block;
    width: 40px;
}

.testimonial-contact p {
    font-size: 80%;
    font-weight: 400;
}

.testimonial-contact p.sub-text {
    font-size: 60%;
    font-weight: 300;
}

.testimonial-details-group #comments {
    font-size: 200%;
    font-weight: 300;
}

.section-choice {
    background-color: #F2F2F2;
}

.choice-header {
    text-align: center;
}

.choice-details {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.choice-box {
    border-radius: 25px;
    background-color: #fff;
    width: 30%;
    height: 324px;
    padding: 20px;
    transition: all 300ms;

    display: flex;
    flex-direction: column;
    align-items: center; /*Not justify contents anymore since items are now on column direction*/
}

.choice-box:hover {
    box-shadow: 0px 10px 40px -34px #888888;
}

.choice-icon {
    border: 2px solid;
    border-radius: 80px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 45px;

    display: flex;
    justify-content: center;
}

.choice-header {
    font-weight: 500;
}

.choice-content {
    margin-top: 35px;
    font-size: 100%;
}

.section-about {
    background-color: #FEEDD1;
}

.about-header {
    text-align: center;
}

.about-details {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 50%;
    height: auto;
    color: #888888;
    font-size: 90%;

    display: flex;
    flex-direction: column;
}

.about-text .text-head {
    font-weight: 500;
    margin-bottom: 10px;
}


.about-image {
    height: 400px;
    width: auto;
    border-radius: 20px;
}

.section-contact {
    background-color: #f2f2f2;
    background-image: /*linear-gradient(rgba(242, 242, 242), rgba(242, 242, 242)), */ url(/images/contact.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #000;
}

.contact-header {
    text-align: center;
}

.section-contact p {
    margin-top: 25px;
    font-size: 100%;
    text-align: center;
}

.social-contact {
    margin-top: 50px;
    padding: 0 250px;
    height: 180px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.social-contact a {
    height: 62px;
}

.medium {
    width: 250px;
    height: 60px;
    /*margin-bottom: 40px;*/
    border-radius: 15px;
    transition: all 300ms ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
}

.medium:hover {
    box-shadow: 0 0 60px -25px #888;
}
.medium {
    background-color: #fff;
}
.medium:nth-child(1):hover {
    background: linear-gradient(to bottom, rgb(84, 243, 115), rgb(7, 186, 42));
    box-shadow: 0 0 60px -25px #888;
}
.medium:nth-child(2):hover {
    background: linear-gradient(to bottom, rgb(255, 50, 36), rgb(200, 24, 0));
    box-shadow: 0 0 60px -25px #888;
}
.medium:nth-child(3):hover {
    background: linear-gradient(to bottom, rgb(255, 136, 69), rgb(215, 62, 142));
    box-shadow: 0 0 60px -25px #888;
}
.medium:nth-child(4):hover {
    background: linear-gradient(to bottom, rgb(39, 133, 255), rgb(0, 100, 228));
    box-shadow: 0 0 60px -25px #888;
}

.medium:nth-child(3), 
.medium:last-child {
    margin-bottom: 0px;
}

.medium img {
    width: 40px;
    height: 40px;
}

.section-footer {
    background-color: #626262;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    width: 35%;
    height: 80px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 90%;
}

.footer-links a:hover {
    color: #888;
}

.social-links a {
    margin-right: 20px;
}

.section-footer #copy {
    color: #fff;
    text-align: center;
    background-color: #555555;
    margin-top: 80px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-footer #copy p {
    font-size: 80%;
}

.section-footer #copy p span {
    font-size: 90%;
    font-style: italic;
    color: #F9A31A;

    transition: all 300ms;
}

.section-footer #copy p span:hover {
    color: #fff;
}
